h1 {
   text-align: justify;
}
.Box1 {
   background: blue;
   height: 200px;
   width: 300px;
   padding: px;
}
.Box2 {
   background: pink;
   height: 200px;
   width: 500px;
   padding-left: 60px;
}